.template {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.column {
  display: grid;
  gap: 6px;
}

@media (max-width: 820px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
